<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">


    <!-- Define your Beans here -->

    <context:component-scan base-package="com.agency04.sbss.pizza"/>
    <context:property-placeholder location="classpath:application.properties"/>
    
    
    <!--<bean id="myFirstPizzeria"
          class="com.agency04.sbss.pizza.FirstPizzeriaService">
        <property name="name" value="Viktor Vranar"/>
        <property name="address" value="Jordanovac 115, 10 000 Zagreb"/>
    </bean>

    <bean id="mySecondPizzeria"
          class="com.agency04.sbss.pizza.SecondPizzeriaService">
        <property name="name" value="${SecondPizzeriaService.name}"/>
        <property name="address" value="${SecondPizzeriaService.address}"/>
    </bean>

    <bean id="myDelivery"
          class="com.agency04.sbss.pizza.PizzaDeliveryService">
        <constructor-arg ref="myFirstPizzeria"/>
        <property name="secondPizzeriaService" ref="mySecondPizzeria"/>
    </bean>-->




</beans>